click==8.1.8
Jinja2==3.1.5
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
numpy==2.2.1
pandas==2.2.3
Pygments==2.19.1
python-dateutil==2.9.0.post0
pytz==2024.2
rich==13.9.4
shellingham==1.5.4
six==1.17.0
typer==0.15.1
typing_extensions==4.12.2
tzdata==2024.2